/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background-color: #0f172a;
  color: #e5e7eb;
  line-height: 1.6;
}

/* HEADER */
header {
  background-color: #020617;
  color: #38bdf8;
  text-align: center;
  padding: 30px 15px;
}

span {
  color: white;
  font-weight: bold;
}
.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 15px;

  border: 3px solid #38bdf8;
  box-shadow: 0 0 20px rgba(56, 189, 248, 0.6);

  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect */
.profile-img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(56, 189, 248, 0.9);
}

/* Mobile responsiveness */
@media (max-width: 600px) {
  .profile-img {
    width: 110px;
    height: 110px;
  }
}

/* NAVIGATION */
nav {
  background-color: #020617;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

nav a {
  color: #e5e7eb;
  margin: 8px 12px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #38bdf8;
}

/* SECTIONS */
section {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

/* HEADINGS */
h2 {
  color: #38bdf8;
  margin-bottom: 10px;
}

/* LISTS */
ul {
  padding-left: 20px;
}

/* PROJECT CARD */
.project {
  background-color: #020617;
  padding: 15px;
  border-radius: 6px;
  margin-top: 10px;
  border: 1px solid #1e293b;
}

/* NOTE */
.note {
  margin-top: 10px;
  font-style: italic;
  color: #94a3b8;
}

/* FOOTER */
footer {
  background-color: #020617;
  color: #94a3b8;
  text-align: center;
  padding: 12px;
  margin-top: 20px;
}

/* =========================
   RESPONSIVE DESIGN
   ========================= */

/* MOBILE */
@media (max-width: 600px) {
  header h1 {
    font-size: 22px;
  }

  nav {
    flex-direction: column;
  }

  nav a {
    margin: 6px 0;
  }

  section {
    padding: 15px;
  }
}

/* TABLET */
@media (max-width: 900px) {
  section {
    padding: 18px;
  }
}
