/* RESET */
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

/* BODY */
body{
  font-family:system-ui, sans-serif;
  background:#020617;
  color:#e5e7eb;
}

/* HERO */
.hero{
  text-align:center;
  padding:60px 20px;
}

.hero h1{
  font-size:36px;
  margin-top:15px;
}

.hero span{
  color:#38bdf8;
}

/* PROFILE */
.profile-img{
  width:150px;
  height:150px;
  border-radius:50%;
  border:3px solid #38bdf8;
  box-shadow:0 0 30px #38bdf8;
}

/* NAV */
nav{
  display:flex;
  justify-content:center;
  gap:25px;
  padding:15px;
  background:#020617;
  position:sticky;
  top:0;
}

nav a{
  color:#60a5fa;
  text-decoration:none;
}

nav a:hover{
  color:#38bdf8;
}

/* SECTIONS */
section{
  max-width:900px;
  margin:auto;
  padding:50px 20px;
}

h2{
  color:#38bdf8;
  margin-bottom:15px;
}

/* SKILLS */
.skill{
  margin-bottom:15px;
}

.bar{
  background:#0f172a;
  height:10px;
  border-radius:10px;
  overflow:hidden;
}

.bar div{
  height:100%;
  background:linear-gradient(90deg,#38bdf8,#60a5fa);
}

/* TIMELINE */
.timeline{
  list-style:none;
  border-left:2px solid #38bdf8;
  padding-left:20px;
}

.timeline li{
  margin:12px 0;
}

/* CARD */
.card{
  background:rgba(15,23,42,.6);
  backdrop-filter:blur(10px);
  padding:25px;
  border-radius:12px;
}

/* SOCIALS */
.socials{
  display:flex;
  gap:20px;
  margin-top:10px;
}

.socials a{
  color:#60a5fa;
  text-decoration:none;
}

/* FOOTER */
footer{
  text-align:center;
  padding:25px;
  opacity:.6;
}

/* RESPONSIVE */
@media(max-width:600px){
  nav{
    flex-wrap:wrap;
  }
}
